@import url('https://fonts.googleapis.com/css2?family=Jaldi&display=swap');

@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

html,
body {
  @apply m-0 p-0 h-full overflow-x-hidden;
}
